flow.json
[
    {
        "id": "3728edd405527f57",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "525461a2d13b5440",
        "type": "http in",
        "z": "3728edd405527f57",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "7d7e217167b978d8"
            ]
        ]
    },
    {
        "id": "3057ecc25e3b0fad",
        "type": "http response",
        "z": "3728edd405527f57",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "7d7e217167b978d8",
        "type": "template",
        "z": "3728edd405527f57",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"response\": \"hello\"\n}",
        "output": "json",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "3057ecc25e3b0fad"
            ]
        ]
    }
]
